@import "swiper/css";
@import "swiper/css/effect-cards";
@import "swiper/css/pagination";
@import "swiper/css/navigation";

.swiper {
  width: 85vw;
  min-height: 500px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  height: unset;
}

.swiper-slide {
  color: #000;
}

.swiper-slide:nth-child(1n) {
  background-color: #b3d2e3;
}

.swiper-slide:nth-child(2n) {
  background-color: #74849c;
}

.swiper-slide:nth-child(3n) {
  background-color: #7494b4;
}

.swiper-slide:nth-child(4n) {
  background-color: #4175a5;
}

.swiper-slide:nth-child(5n) {
  background-color: #748494;
}

.swiper-slide:nth-child(6n) {
  background-color: #628292;
}

//覆蓋箭頭樣式
.swiper-button-next,
.swiper-button-prev {
  top: 50%;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: 2vw;
  left: auto;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: 2vw;
  right: auto;
}

// 設定當前頁面顯示位置
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: -30px;
}
