@import "../style/global-style.scss";

.btn_wrapper {
  margin: 0 auto;
  display: flex;
}

@media (min-width: 768px) {
  .btn_wrapper {
    width: 700px;
  }
}

.App {
  font-family: sans-serif;
  text-align: center;
  position: relative;
}
.isVisible {
  position: fixed;
  top: 0;
  width: 100%;
}

.section {
  height: 100vh;
}

.box {
  width: 100%;
  height: 1000px;
}
